
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

</head>
<body>

	<!-- Including Header Fragment -->
	<th:block th:replace="~{header :: header}"></th:block>

	<main>
        <section id="login-section">
            <h2>LOGIN</h2>
            
            <p th:if="${errorMessage}" style="color: red;" th:text="${errorMessage}"></p>
            
            <form id="login-form" method="POST" th:action="@{/login}">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email"
                    th:value="${email} ?: ''" required>
    
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
    
                <button type="submit">Login</button>
            </form>
        </section>
        <div class="button-container">
            <button type="button" th:onclick="|window.location.href='@{/}'|" class="register-back-button">Back</button>
        </div> 
	</main>


    <!-- Footer Section -->
    <footer>
		<div class="footer-content">
			<div class="footer-left-center">
				<div class="footer-left">
					<i class="fa-brands fa-facebook fa-2xl" id="icon" title="Facebook"></i>
					<i title="X aka Twitter" id="icon" class="fa-brands fa-twitter fa-2xl"></i>
					<i id="icon" class="fa-brands fa-square-instagram fa-2xl" title="Instagram"></i>
				</div>
				<div class="footer-center">
					<ul>
						<li><a href="#privacy-policy">Privacy Policy</a></li>
						<li><a href="#terms">Terms of Service</a></li>
						<li><a href="#contact">Contact Us</a></li>
					</ul>
				</div>
			</div>

			<div class="footer-right">
				<p>&copy; 2025 Secure Messaging App. All rights reserved.</p>
			</div>
		</div>
    </footer>
    
    <!-- JavaScript -->
    <script th:src="@{/js/script.js}"></script>
</body>
</html>
